.container {
    padding-top: 15px;
    padding-bottom: 30px;
    background: rgb(0,0,0);
    border-radius: 10px;
}

/* SCROLLBAR TABLE*/
.my-custom-scrollbar {
    position: relative;
    height: 60vh;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.select-playlist-button {
    text-align: center;
    width: 110px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-weight: 600;
    font-size: 0.9rem;
}

.add-remove-track-button {
    width: 110px;
    max-height: 32px;
}

.add-remove-track-p {
    text-align: center;
    font-size: 0.8rem;
}

.play-button {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    margin-right: 5px;
}

.fa-play {
    display:block;
    font-size: 0.7rem;
    color:rgb(0, 27, 0);
    text-align: center;
}

thead {
    position: sticky;
    top: 0;
}

.table th {
    font-weight: 500;
    color: #000000;
    font-weight: bold;
}

.table thead {
    background-color: #e2dff5;
}
.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td {
    vertical-align: middle;
}

.table tr td {
    color: #1a192b;
    font-size: 1rem;
    font-weight: 400;
}

.table tr:first-child td:first-child {
    width: 2.1rem;
    color: #1a192b;
}

#view-all-button {
    margin-right: 5px;
}

.alert {
    margin-top: 5px;
}