/* You can add global styles to this file, and also import other style files */
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

html body {
    height: 100%;
    min-height: 80vh;
    margin: 0;
    background: rgb(15,14,14);
    background: linear-gradient(180deg, rgba(15,14,14,1) 0%, rgba(77,56,50,1) 50%, rgba(15,14,14,1) 100%);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1rem;
}

.search {
    margin-bottom: 10px;
}

#main-container {
    margin-top: 65px;
}

